.divPlayerInputForm {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.playerInputForm {
  display: flex;
  flex-direction: column;
}

.nameLabel {
  text-align: center;
  font-size: 18px;
}

.playerNameInput {
  margin-left: 5px;
  font-size: 18px;
  height: 20px;
}

h1 {
  margin: 10px 0;
  text-align: center;
}

.playerChoiceButtons {
  width: 250px;
  height: 40px;
  font-size: 20px;
  margin: 5px 0;
}

.Yes {
  background-color: lightgreen;
  border: lime 3px solid;
}

.Yes:hover {
  background-color: lime;
  border: lightgreen 3px solid;
}

.No {
  background-color: lightpink;
  border: red 3px solid;
}

.No:hover {
  background-color: red;
  border: lightpink 3px solid;
}

.playerSubmitButton {
  border: blue 3px solid;
  width: 250px;
  height: 40px;
  font-size: 20px;
  margin: 5px 0;
  background-color: lightskyblue;
}

.messageAfterSubmit {
  border: lightgray 3px solid;
  background-color: white;
  padding: 30px;
  position: absolute;
}
